@import '../../styles/colors.scss';


.inputWrap {
  display: flex;
  align-items: center;

  position: relative;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }

}

input[type="password"],
input[type="email"] {
  border: 1px solid $primaryLight;
  border-radius: 4px;

  padding: 0 40px 0 8px;

  line-height: 40px;

  &:focus {
    outline-color: $primaryLight;
  }
}