
@import '../../styles/colors.scss';

.header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 4px solid $primaryDark;
  background-color: $primary;

  img {
    margin-top: 40px;
  }

  h1 {
    color: $white;
    margin: 16px 0 40px;
  }
}